.checkbox-toggle .checkbox-switch {
    display: flex;
    align-items: center;
    border-radius: 20px;
    border: 1px solid;
    vertical-align: top;
    background: transparent;
    transition: .2s;
    width: 42px;
    height: 22px;
}

.checkbox-toggle .checkbox-switch:before {
    content: '';
    width: 20px;
    height: 20px;
    position: relative;
    left: 1px;
    background: rgba(255, 255, 255, 20%);
    border-radius: 50%;
    transition: .15s;
}

.checkbox-toggle input[type=checkbox] {
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    opacity: 0;
}

.checkbox-toggle input[type=checkbox]:checked + .checkbox-switch {
    background: transparent;
}

.checkbox-toggle input[type=checkbox]:checked + .checkbox-switch:before {
    background: #6F6EFF;
    transform: translateX(20px);
    box-shadow: 0 0 12px rgba(111, 110, 255, 0.5);
}

/* Hover */
.checkbox-toggle input[type="checkbox"]:not(:disabled) + .checkbox-switch {
    cursor: pointer;
    border-color: rgba(255, 255, 255, 20%);
}


/* Disabled */
.checkbox-toggle input[type=checkbox]:disabled + .checkbox-switch {
    filter: grayscale(60%);
    border-color: rgba(0, 0, 0, .1);
}

.checkbox-toggle input[type=checkbox]:disabled + .checkbox-switch:before {
    background: #eee;
}
