.nav-bar__container {
    border-bottom: 1px solid rgba(216, 216, 216, 0.1);
    margin-left: 280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2B2C3A;
    padding-right: 45px;
}

.nav-bar {
    height: 66px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
}

.nav-bar__left-side.nav:after {
    content: '';
    height: 24px;
    width: 1px;
    background-color: rgba(216, 216, 216, 0.1);
    display: block;
    right: 0;
    position: relative;
    top: 0;

}

.nav-bar__left-side {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 10px;
    display: flex;
}

.nav-bar__left-side.nav li a:hover {
    color: white;
}

.nav-bar__left-side.nav li a {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.nav-bar__left-side.nav li {
    padding: 28px 14px;
}

.nav-bar__left-side.nav {
    list-style: none;
    color: white;
    display: flex;
    margin: 0;
    padding-left: 55px;
    align-items: center;
}

.nav-bar__right-side .badge {
    color: white;
    font-weight: 400;
    font-size: 13px;
    line-height: 10px;
    padding: 7px 9px;
    background: rgba(255, 255, 255, 0.06);
    mix-blend-mode: normal;
    border-radius: 5px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    max-height: 24px;
}

.nav-bar__right-side {
    display: flex;
    align-items: center;
}

.badge.hours:before {
    content: '';
    display: block;
    background: #FF4738 url("../images/flash.svg") no-repeat center;
    box-shadow: 0 0 12px rgba(255, 71, 56, 0.5);
    border-radius: 4px;
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

.profile {
    display: flex;
}

.profile__level {
    font-weight: 400;
    font-size: 11px;
    line-height: 10px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 2px 8px;
    background: linear-gradient(90deg, #6B69F9 0%, #6F6EFF 100%);
    box-shadow: 0 0 12px rgba(111, 110, 255, 0.5);
    border-radius: 4px;
    margin-left: 15px;

}

.profile__status::marker {

}

.profile__status {
    margin: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 10px;
    color: #24CB8D;
    display: list-item;
    list-style-type: disc;
    list-style-position: inside;
}

.profile__user-name {
    font-weight: 400;
    font-size: 14px;
    line-height: 10px;
    color: white;
    margin-bottom: 9px;
}

.profile__avatar {

}

.profile > div > div {
    display: inline-block;
}

.profile > div {
    display: flex;
    align-items: start;
    padding-bottom: 7px;
    padding-top: 7px;
    margin-left: 13px;
}