@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    background-color: #2B2C3A;
}

.main-wrapper {
    width: 1440px;
    margin: 0 auto;
}

.left-bar__header {
    border-bottom: 1px solid #D8D8D810;
    padding-top: 19px;
    padding-bottom: 15px;
    padding-left: 30px;
}

.left-bar li {
    list-style: none;
}

.left-bar {
    text-transform: uppercase;
    background-color: rgba(156, 165, 236, 0.04);;
    height: 100%;
    color: #fff;
    font-weight: bold;
    font-family: 'Jost';
    font-size: 22px;
    width: 280px;
}

.left-bar .menu-list {
    padding: 0;
}
.menu-list__subgroup-container .menu-list-item.active {
    background: linear-gradient(135deg, #FFFFFF 0%, #FFFFFF 93.97%);
    mix-blend-mode: normal;
    opacity: 0.03;
    color: white;
}

.menu-list__subgroup-container .menu-list-item {
    margin: 22px 0;
    line-height: 10px;
}

.menu-list-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding-left: 30px;
    padding-top: 13px;
    letter-spacing: 1px;
}

.menu-list__subgroup-container {
    display: none;
}

input[type="checkbox"]:checked ~ .menu-list__subgroup-container {
    display: block;
}

.menu-list-subgroup-label ~ input[type="checkbox"] {
    display: none;
}

